<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>吾呢网</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{/css/index.css}" href="../static/css/index.css"/>
</head>
<body>
    <header>
        <nav class="wn-nav-bar" >
            <div class="logo-container">
                <a class="logo">
                    <img alt="logo" th:src="@{/img/test.bmp}" src="../static/img/test.bmp">
                </a>
            </div>

            <div class="wn-nav-bar-menu-container">
                <ul class="wn-nav-bar-menu">
                    <li class="wn-nav-bar-menuitem">
                        <a>首页</a>
                    </li>
                    <li class="wn-nav-bar-menuitem">
                        <a>消息</a>
                    </li>
                    <li class="wn-nav-bar-menuitem">
                        <a>注册</a>
                    </li>
                    <li class="wn-nav-bar-menuitem">
                        <a>登录</a>
                    </li>
                </ul>
            </div>
            <div class="search-container">

                <input type="search" placeholder="...">
                <button>搜索</button>
            </div>
            <div class="user-img-container">
                <a class="user-img">
                    <img alt="user-img" src="../static/img/test.bmp">
                </a>
            </div>
        </nav>
    </header>
    <main>
        <div class="wn-mainpage-container">
            <div class="wn-mainpage">
                <div class="wn-mainpage-tags">
                    <div class="new-tag">最新</div>
                    <div class="hot-tag">最热</div>
                    <div class="publish-tag">我要发布</div>
                </div>
                <div class="wn-mainpage-post-container">
                    <div class="wn-mainpage-post-item" th:each="map:${discussPosts}">
                        <div class="user-info">
                            <div class="user-img">
                                <img th:src="${map.user.headerUrl}" alt="用户头像">
                            </div>
                            <div class="user-name" th:utext="${map.user.username}">用户名</div>
                        </div>
                        <div class="post-info-1">
                            <div class="post-type" th:if="${map.discussPost.type==1}">置顶</div>
                            <div class="post-status" th:if="${map.discussPost.status==1}">精华</div>
                        </div>
                        <div class="post-info-2">
                            <div class="post-title" th:utext="${map.discussPost.title}">帖子标题</div>
                            <div class="post-deliver-time" th:text="${#dates.format(map.discussPost.createTime,'yyyy-MM-dd HH:mm:ss')}">发帖时间</div>
                        </div>
                    </div>
                    <div class="divide-page">
                        <ul class="divide-page-bar">
                            <li class="divide-page-bar-item">
                                <a class="page-link" th:href="@{${page.path}(current=1)}">首页</a>
                            </li>
                            <li class="divide-page-bar-item">
                                <a class="page-link" th:href="@{${page.path}(current=${page.current-1})}">上一页</a>
                            </li>
                            <li class="divide-page-bar-item">
                                <a class="page-link" th:href="@{${page.path}(current)}" th:text="${page.current}">1</a>
                            </li>
                            <li class="divide-page-bar-item">
                                <a class="page-link" th:href="@{${page.path}(current=${page.current+1})}">下一页</a>
                            </li>
                            <li class="divide-page-bar-item">
                                <a class="page-link" th:href="@{${page.path}(current=${page.total})}">末页</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <footer>
        <div class="footer-container">
            这是页脚
        </div>
    </footer>
</body>
</html>